body{
  margin:0;
}
#container{
  margin:auto;
  width:1350.7px;
  background-color:black;
}
#about{
  width:400px;
  height:300px;
  margin:auto;
  text-align:center;
  color:cornsilk;
}
#photo{
  text-align:center;
}
#photo>img{
  margin-top:20px;
}
#about h5>a{
  text-decoration:none;
  font-size:18px;
}
#about h5>a:hover{
  color:cornflowerblue;
}
section h2{
  text-align:center;
  color:cornsilk;

}
article{
  padding:0 60px 0 60px;
  margin-left:20px;
  box-shadow:0 10px 15px white;
  width:1180px;
  background-color: aquamarine;
  margin-top:30px;
  border:2px solid aquamarine;
  border-radius: 20px;
}
article>header{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top:20px;

}
article>header>a{
  text-decoration:none;
  font-size:1.6em;
}
article>header>a:hover{
  color:red;
}
article div.content{
  padding:0px 10px;
  width:1204px;
}
article div.content p{
  margin:8px 0;
}
article footer{
  width: fit-content;
  height: fit-content;
  padding:5px;
  position:relative;
  left:92.5%;
  bottom:17%;
  
}
footer>div.ok{
  content:"";
  border-style: solid;
  border-top-width: 30px;
  border-right-width: 15px;
  border-left-width: 15px;
  border-top-color:  transparent;
  border-left-color:  transparent;
}
footer>div.date{
  border:0 30px 0 0 solid black;
  border:2px solid black;
  padding:3px;

}
.explanation{
  font-size:1.3em;
}
